h1 {
    font-size: 50px;
}

p {
    font-size: 18px;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    margin-bottom: 10px;
    font-size: 17px;
}